span {
    color: red;
}
.containeer {
    margin-top: 150px;
    background-color: #2d2d32;
}
.mAxisX {
    margin-left: 15%;
    margin-right: 25%;
}
.mRight{
    margin-right: 30%;
}

.jjbgcolor {
    background-color: #2d2d32;
}
